/* src/index.css */

/* ===  GOOGLE FONT — INTER === */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


/* === TAILWIND BASE === */
@tailwind base;
@tailwind components;
@tailwind utilities;


/* === GLOBAL BODY STYLES === */
body {
    @apply font-sans;
    margin: 0;
    background: url('/media/extras/confetti-doodles.svg') no-repeat center center fixed;
    background-size: cover;
    color: #ffffff;
}

/* === HIDE SCROLLBAR === */
*::-webkit-scrollbar {
    display: none;
}

* {
    -ms-overflow-style: none;
    scrollbar-width: none;
}